* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-collor: rgb(145,199,233);
    --shadow-collor: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --overlay-collor:  rgba(128, 128, 128, 0.5);
    --popup-collor:#f0f2f5;
  }

.homeContainer {
    display: flex;
}





.mainView {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.postsView {
    width: 600px;
}

.postList {
    width: 100%;
    padding: 0;
}

/* create post popup css */

.overLay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.5);
    position: fixed;
    z-index: 100;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createFormContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    height: 500px;
    width: 500px;
    background-color: white;
    box-shadow: var(--shadow-collor);
    position: relative;
    align-items: center;
}


#openButton {
    width: 600px;
    height: 50px;
    background-color: #f0f2f5;
    border: none;
    border-radius: 20px;
    color: #a2a4a8;
}

#openButton:hover {
    background-color: #e4e6e9;
}

.triggerForm {
    border-right: 1px solid gray;
    width: 80%;
}


.caption {
    background-color: white;
    display: block;
    width: 95%;
    overflow: hidden;
    resize: none;
    min-height: 20px;
    line-height: 20px;
    border: 1px solid black;
    max-height: 342px;
    border-radius: 20px;
    padding: 5px;
    font-size: medium;
    overflow-y: auto;
}




.closePostForm .material-symbols-outlined{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.closePostForm .material-symbols-outlined:hover{
    background-color: var(--overlay-collor);
}

.postBtn {
    background-color: var(--button-collor);
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
}

.controller {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
}


.controller .material-symbols-outlined {
    cursor: pointer;
    font-size: 30px;
}


.controller button {
    position: absolute;
    bottom: 0;
}





/* css for post view */


.postsContainer {
    width: 100%;
    box-shadow: var(--shadow-collor);
    margin-top:10px;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: relative;
}

.more {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
}

.updateContainer {
    border: 1px solid black;
    position: absolute;
    top: 12px;
    right: -12px;
    display: flex;
    flex-direction: column;
}

.option:hover {
    background-color: #333;
    cursor: pointer;
    color: white;
}


.deleteConfirmationContainer {
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color:var(--overlay-collor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirForm {
    height: 500px;
    width: 500px;
    background-color: white;
    box-shadow: var(--shadow-collor);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userInfo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 35px;
    align-items: center;
}

.profileOpen a {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
}

.profileOpen a div {
    margin-right: 10px;
}

.userName {
    padding-left: 10px;
}

.displayCaption {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    object-fit: cover;
    flex-direction: column;
}

.displayCaption a{
   text-decoration: none;
   color: black;
   display: flex;
   align-items: center;
   padding: 5px;
}

.mediaContainer {
    width: 95%;
    max-height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mediaCraper {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media {
    border-radius: 20px;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.interactSection {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.commentCreator {
    width: 80%;
    height: 40px;
    background-color:#f0f2f5;;
    border-radius: 20px;
    margin-left: 10px;
    font-size: normal;
    align-items: center;
    display: flex;
}

.triggerComment {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triggerComment:hover {
    background-color: #e4e6e9;
}


.userListContaier {
    margin-left: 350px;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
}

.love {
    cursor: pointer;
    display: flex;
    align-items: center;
}


/* follow */

.follow_btn {
    background-color: var(--button-collor);
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    width: 100px;
    height: 35px;
    box-sizing: border-box;
}



/* AVATAR */


.avatarContainer {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.avatar {
    width: 100%; 
    height: auto;
    border: none;
    object-fit: fill;
}


/* PROFILE CSS */


.profileContainer {
    min-width: 600px;
    display: flex;
    flex-direction: column;  
    min-height: 210px;
    box-shadow: var(--shadow-collor);
    border-radius: 20px;
    justify-content: space-between;
    padding: 5px;
}

.profileAvatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-right: 25px;
    cursor: pointer;
}

.infoBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
}


.linktoprofile {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.aboutMeContainer {
    height: 100px;
    max-width: 600px;
    border-top: 1px solid gray;
    text-align: center;
    display: flex;
    padding: 25px;
    display: flex;
    flex-direction: column;
}


.triggerContainer {
    height: 100%;
    width: 100%;
    word-wrap: break-word;
}

.trigger {
    width: 100%;
    word-wrap: break-word;
}
.trigger p {
    width: 100%;
}





/* User card */

.userCard {
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    margin:25px;
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
}










/* Crop Avatar CSS */
.custom-avatar-edit {
    width: auto;
    height: auto;
}

.cropForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 50px;
    border-radius:20px ;
    position: relative;
}

.cropForm button{
    margin-top: 20px;
    background-color: var(--button-collor);
    border-radius: 20px;
    border-color: var(--button-collor);
    color: white;
    width: 80px;
}



.cropAvatarContainer {
    background-color: rgba(128, 128, 128, 0.5);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
}



button:hover {
    background-color: white;
    border: 1px solid var(--button-collor);
    color: var(--button-collor);
}


/* Chat app */
.chatAppContainer {
    width: 350px;
    height: 100vh;
    position: fixed;
    border-left: 1px solid gray;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.receiverContainer {
    display: flex;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.receiverContainer:hover {
    background-color:aliceblue;
}


.receiverContainer .avatarContainer {
    margin-right: 10px;
}

.chatBoxContainer {
    width: 100%;
    height: 100%;
    background-color: var(--button-collor);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
}

.headerChat {
    display: flex;
    align-items: center;
    padding: 5px;
    flex: 1;
}

.sendMessageContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex: 1;
}

.messageFieldContainer {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    background-color:beige;
    width: 100%;
    flex: 9;
}

/* End chat app */

/* speech bubble */

.deleteMessageOptionBoardOverlay {
    background-color: var(--overlay-collor);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    align-items: center;
}

.deleteMessageOptionBoard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deleteMessageOptionBoard button {
    height: 50px;
    width: 95%;
    margin: 5px;
    border: 1px solid var(--button-collor);
    color: white;
    background-color: var(--button-collor);
}

.deleteMessageOptionBoard button:hover{
    color: var(--button-collor);
    background-color: white;
    border:1px solid var(--button-collor);
}

.mright{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.textContentContainer  {
    width: 100%;
    display: flex;
    margin: 5px 0px 5px 0px;
    word-wrap: break-word;
}

.imgContainer {
    max-width: 60%;
    max-height: 50%;
    height: auto;
    border-radius: 20px;
}

.messageMediaContainer img {
    width: 100%;
}


/* .mediaContainer {
    width: 95%;
    max-height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mediaCraper {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media {
    border-radius: 20px;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    display: block;
} */


.delete-message-btn {
    color: gray;
    cursor: pointer;
}

.delete-message-btn:hover {
    color: black;
}

.mright .textContentContainer {
    display: flex;
    justify-content: flex-end;
}

.messageContainer .avatarContainer{
    width: 13%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    cursor: auto;
}

.mright .textContentContainer p {
    text-align: right;
}

.contentContainer {
    width: 50%;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
}

.contentContainer p {
    width: 100%;
}

.searchFriend {
    height: 50px;
    width: 90%;
    background-color: var(--overlay-collor);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBtn {
    border-radius: 50%;
    background-color: #f0f2f5;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding:3px;
}

.searchBtn:hover {
    background-color: var(--overlay-collor);
}

.updateBtn {
    width: 100px;
    background-color: var(--button-collor);
    color: white;
    border: 1px solid var(--button-collor);
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
}

.updateBtn:hover {
    background-color: white;
    color: var(--button-collor);
}

/* notification */

::-webkit-scrollbar {
    width: 12px; /* Set width of the entire scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #A8A8A8; /* Color of the scrollbar handle */
    border-radius: 6px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Change color on hover */
  }


.notification-alert {
    width: 350px;
    height: 100px;
    background-color: var(--button-collor);
    position: fixed;
    bottom: 100px;
    left: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.insider a {
    text-decoration: none;
    color: black;
}

.imgBoard {
    width: 100%;
    display: flex;
    background-color: white;
}

.uuu {
    position: relative;
}

.uuu span {
    position: absolute;
    right:0;
    border-radius: 50%;
    cursor: pointer;
}

.uuu span:hover {
    background-color: #A8A8A8;
}

.ttt {
    border-radius: 50%;
    cursor: pointer;
}

.ttt:hover {
    background-color: #a8a8a8;
}