* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBarContainer {
    height: 100vh;
    max-width: 350px;
    width: 350px;
    border-right: 1px solid gray;
    position:sticky;
    position: -webkit-sticky;
    top: 0px;
}

.navBarContainer ul {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
}

.navItem a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navItem{
    list-style-type: none;
    height: 56px;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

li:hover {
    cursor: pointer;
    background-color: aliceblue; 
}

.navItem .material-symbols-outlined {
    font-size: 30px;
    line-height: 56px;
    position: absolute;
    left: 45%;
    top: 0;
}

.NotificationAppContainer {
    height: 100%;
    width: 350px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 56px;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}



.notificationContainer {
    height: 60px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.notificationContainer:hover {
    background-color: aliceblue;
}


.countNotification {
    margin-left: 25px;
}


.isseen {
    color: gray;
}