body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

:root {
    --button-collor: rgb(145,199,233);
    --shadow-collor: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --overlay-collor:  rgba(128, 128, 128, 0.5);
    --popup-collor:#f0f2f5;
  }


.singlePostContainer {
    height: 100vh;
    display: flex;
    overflow-x: none;
}

.mediaSide {
    display: flex;
    flex-grow: 1; 
    max-width:1150px ;
    box-sizing: border-box;
}

.pictureContainer {  
    flex-grow: 1; 
    max-width:1055px ;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 252, 254);
    box-sizing: border-box;
    
}

.pictureContainer img, video{    
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
 }

.commentSide {
    overflow-y: auto;
    width: 400px;
    background-color: rgb(198 226 255);
}

.commentView {
    width: 90%;
    border-radius: 20px;
}

.scrollable {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.xi {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.xi:hover {
    background-color: var(--overlay-collor);
}

.postInfo {
    margin: 15px;
    width: 90%;
    background-color: white;
    box-shadow: var(--shadow-collor);
    border-radius: 20px;
}

.postInfo div{
    margin: 5px 0 5px 0;
}

.comment {
    width: 100%;
}

.captionhehe {
    max-height: 70%;
    max-width: 70%;
}

.arrow {
    background-color: #F5FDFF;
    width: 40px;
    border: none;
    line-height: 100vh;
    text-align: center;
    font-size: xx-large;
    cursor: default;
}

.arrow:hover {
    background-color: #f0f2f5;
}


@media screen and (max-width : 1000px) {
    .singlePostContainer {
        flex-direction: column;
        height: auto;
        align-items: center;
        width: 100vw;
    }

    .mediaSide {
        height: auto;
        width: 100vw;
    }

    .commentSide {
        width: 80vw;
    }
}