/* .navBarContainer ul{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80px;
    align-items: center;
}

.navBarContainer {
    height: 80px;
    width: 100vw;
    border-bottom: 1px solid black;
} */